html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.rightSide {
  width: 100%;
  height: 100%;
}

.upperMenuContainer {
  width: 100%;
  height: 5%;
  display: block;
}

.upperMenu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  z-index: 100;
}

i#menu {
  cursor: pointer;
  align-content: center;
  text-align: center;
  visibility: visible;
  position: fixed !important;
  width: 50px !important;
  height: 5% !important;
  z-index: 200 !important;
  color: inherit;
  text-decoration: none;
}

.fas.fa-bars::before {
  color: slategray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#sidebar {
  max-width: 25%;
  min-width: 250px;
  overflow-y: scroll;
}

#sidebar h2 {
  text-align: center;
  color: slategrey;
}

input#search {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  padding: 0.1rem;
  align-content: center !important;
  margin: auto;
}

ul.locations {
  padding: 0.5rem;
}

.oneLocation {
  list-style: none;
  box-shadow: 1px 1px 1px rgb(135,206,255);
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  align-content: center;
  color: crimson;
  cursor: pointer;
}

.gm-style-iw {
  height: 250px !important;
  width: 200px !important;
}

@viewport {
  zoom: 1.0;
}

@media screen and (max-width: 450px) and (min-width: 320px) {
  .gm-style-iw {
    height: 200px !important;
    width: 175px !important;
  }
}
 

